@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");

*{
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}



body {
  width:100vw;
  height:100vh;
  background: linear-gradient(to bottom right, #FDC639, #FF7C60);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  display: flex;
  flex-grow: 1;
}


.container{
  width:500px;
  height:300px;
  background: rgba(226, 30, 30, 0.2);
  color: #fff;
  border-radius: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h3{
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

.container button{
  border:0;
  outline:0;
  background: #043565;
  color:white;
  padding:5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.container p b{
  background: #043565;
  color: white;
  border-radius:50px ;
  padding: 5px 10px;
}

@media (min-width:350px) and (max-width:800px){

  .container{
    width:90%;
    padding:10px;
  }
}

